/site/**
/opengraph/**
/build/*.csv
/build/*.gz
/build/*.json
/build/*.yml
/build/*.conf
/build/*.db
/build/*.db-journal
/build/machine-types-regions.sql
/build/machine-types-regions.sql.gz
/build/publicipranges.json
/build/publicipaddresses.sql
